*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url();
    background-position: center;
    background-size: cover;
    background-color: #25455a;

}
button{
    outline: none;
    font-size: 2rem;
    background-color: #540204;
        color: white;

    padding: 10px 50px 10px 50px;
    font-style: italic;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border: none;

}

.but{
    /* display: flex;
    justify-content: space-between; */
    text-align: end;
    width: 90%;
    /* margin: auto; */
    
    cursor: pointer;
}


.vedio{
    text-align: center;
}
img{
    position: absolute;
}
video{
    margin-top: 30px;
}
@media screen and (max-width:768px){
			 video{
                 margin-top: 200px;
                 margin-bottom: 40px;
                 width: 100%;
             }


		 } 